on:
  schedule:
    - cron: "30 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run:
          curl -X POST "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/924492d1-7668-45a0-84df-ff7436956dff"
